.HeaderNav {
  position: relative;
  overflow-x: scroll;
  padding: 16px;

  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item {
    font-family: var(--color-text-fontFamily);
    font-size: 16px;

    & > a {
      color: var(--color-title);
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid var(--color-primary);
      }
    }
  }
}
