.FormSignUp {
  padding: 32px 48px;

  &__row {
    display: flex;
    gap: 16px;
  }

  &__col {
    width: 50%;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 575px) {
    padding: 16px 0;
  }
}
