.MainNews {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin-right: 16px;

  &__title {
    display: block;
    font-size: 39px;
    font-family: var(--color-title-fontFamily);
    line-height: 1.25;
    color: var(--color-bg);
    margin-bottom: 16px;
    margin-top: 8px;
    cursor: pointer;
    text-decoration: none;

    @media (max-width: 575px) {
      font-size: 25px;
    }
  }

  &__text {
    color: var(--color-text);
    font-family: var(--color-text-fontFamily);
    line-height: 1;
  }

  @media (max-width: 991px) {
    max-width: 100%;
    margin-bottom: 48px;
    margin-right: 0;
  }
}
