.ItemCommentMain {
  position: relative;
  display: flex;
  max-width: 360px;

  &__avatar {
    width: 56px;
    height: 56px;
    border-radius: 50%;
  }

  &__details {
    width: 100%;
    margin-left: 16px;
  }

  &__nameUser {
    font-size: 20px;
    color: var(--color-title);
    font-family: var(--color-title-fontFamily);
    margin-bottom: 8px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  &__date {
    color: var(--color-text);
    font-family: var(--color-text-fontFamily);
    font-size: 13px;
    margin-right: 16px;
    line-height: 1;
  }

  &__content {
    color: var(--color-text);
    font-family: var(--color-text-fontFamily);
    line-height: 1.5;
  }

  &__response {
    position: relative;
    margin-top: 16px;
  }

  &__textarea {
    width: 100%;
    $border-color: #c8c9cf;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    color: var(--color-text);

    &:focus {
      $color: #1248de;
      border: 1px solid var(--color-primary);
      box-shadow: 0 0 0 4px rgba($color: $color, $alpha: 0.15);
    }
  }

  &__loader {
    margin-top: 16px;
  }

  &__link {
    content: '';
    position: absolute;
    top: 52px;
    left: 20px;
    width: 46px;
    height: 42px;
    background-color: transparent;
    border-left: 2px solid var(--color-text);
  }
}
