.Logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &__caption {
    font-family: var(--color-title-fontFamily);
    color: var(--color-title);
    line-height: 1;
  }

  &__caption__mobileHidden {
    @media (max-width: 575px) {
      display: none;
    }
  }
}
