.Navbar {
  display: flex;
  position: relative;

  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item {
    font-family: var(--color-text-fontFamily);
    font-size: 13px;

    & > a {
      color: var(--color-text);
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid var(--color-primary);
      }
    }
  }
}
