$border-color: #9aa6b1;

.HeaderMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-top: 1px solid rgba($color: $border-color, $alpha: 0.15);

  &__left {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 8px;
  }

  &__searchbarBox {
    @media (max-width: 575px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media (max-width: 575px) {
    padding: 16px 0;
  }
}
