$bg-cronaca: #4f9ef8;

.CategoryNews {
  display: flex;

  .CategoryNews--cronaca {
    background-color: rgba($color: $bg-cronaca, $alpha: 0.1);
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    font-family: var(--color-title-fontFamily);

    .CategoryNews__text--cronaca {
      color: $bg-cronaca;
    }
  }
}
